:root {
  /* Font Size */
  --font-large: 20px;
  --font-medium: 12px;
  --font-small: 10px;
}

body {
  margin: 0;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 56px;
  background-color: black;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
}
.start {
  display: flex;
}

.navbar_toggleButton {
  padding: 8px 8px 8px 28px;
  font-size: 24px;
  color: white;
}

.navbar_logo {
  display: flex;
  align-items: center;
  color: whitesmoke;
  padding: 18px 5px 18px 16px;
  font-size: 30px;
}

.navbar_logo #logo-text {
  align-self: flex-end;
  font-size: var(--font-large);
}

#country-code {
  padding: 10px 0 0 0;
  vertical-align: top;
  font-size: 8px;
  color: lightgray;
}

.end {
  display: flex;
  padding: 24px;
  align-items: center;
}

.player {
  text-align: center;
  background-color: black;
}

.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 14px;
}

.info .metaData {
  display: flex;
  flex-direction: column;
}

.info .metaData .hashtags {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  font-size: var(--font-medium);
  color: cornflowerblue;
}

.info .metaData .hashtags li {
  padding: 2px;
}

.info .metaData .titleAndMoreButton {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.info .metaData .titleAndMoreButton .title {
  font-weight: bold;
}

.info .metaData .titleAndMoreButton .fas {
  padding: 0px 10px 0px 10px;
}

.info .metaData .uploadDate {
  font-size: var(--font-medium);
  color: grey;
}

.info .actions {
  border-bottom: 1px solid lightgrey;
}
.info .actions ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}

.info .actions ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info .actions ul li i {
  font-size: 20px;
  color: grey;
}

.info .actions ul li i.active {
  color: royalblue;
}

.info .actions ul li :hover {
  color: royalblue;
  cursor: pointer;
}

.info .actions ul li .actionTitle {
  font-size: var(--font-medium);
  color: grey;
}

.info .channel {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid lightgrey;
}

.info .channel .profileAndInfo {
  display: flex;
}

.info .channel .profileAndInfo .profile {
  width: 45px;
  height: 45px;
  border-radius: 70%;
  overflow: hidden;
}

.info .channel .profileAndInfo .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info .channel .profileAndInfo .channelInfo {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 10px;
}

.info .channel .profileAndInfo .channelInfo .channelName {
  font-size: var(--font-large);
  font-weight: bold;
}

.info .channel .profileAndInfo .channelInfo .follow {
  font-size: var(--font-medium);
  color: grey;
}

.info .channel .subscribe {
  display: flex;
  align-items: center;
}

.info .channel .subscribe button {
  color: red;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  background-color: transparent;
}

.info .channel .subscribe button:hover {
  cursor: pointer;
}

.upNext {
  display: flex;
  flex-direction: column;
  padding: 0px 14px 0px 14px;
}

.upNext .title {
  font-size: 14px;
  color: grey;
  padding: 0 0 10px 0;
}
.upNext .playList {
  display: flex;
  flex-direction: column;
  padding: 2px 0 2px 0;
  margin: 0;
}

.upNext .playList .listItem {
  display: flex;
  flex-direction: row;
}

.upNext .playList :hover {
  cursor: pointer;
}
.upNext .playList .videoCard video {
  border-radius: 15px;
  width: 168px;
  height: 94px;
}

.upNext .playList .videoInfo {
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 10px;
  font-size: var(--font-medium);
  color: grey;
}

.upNext .playList .videoInfo .videoTitle {
  font-size: 14px;
  font-weight: bold;
  color: black;
  padding: 0 0 5px 0;
}

.flexBox {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .player {
    position: sticky;
    top: 0;
  }

  .flexBox {
    flex-direction: column;
  }
}
